<div class="row">
    <div class="col-md-2 text-start">
        <a class="btn btn-outline-light btn-sm" href="{{ link }}"><i class="bi bi-arrow-bar-left"></i></a>
    </div>
    <div class="col-md-10 text-start">
        <h3>{{ title }}</h3>
    </div>
</div>